textarea {
  width: 100%;
}
body {
  margin: 0px;
  padding: 0px;
}

#header{
  height: 100px;
  background-color: #256BB9;
  position: absolute;
  width: 100%;
  top: 0px;
}

h1, h2 {
  font-family: sans-serif;

}

h1 {
  color: white;
  margin-top: 30px;
}

h2 {
  color: #256BB9;
  margin-top: 50px;
}
label {
  font-family: sans-serif;
  margin-right: 15px;
}


#pagearea {
margin-left: 10%;
margin-right: 10%;
margin-top: 150px;

}

.fh-button-2d-red {
  margin: 20px 0px;
}

input {
  margin: 8px 0px;
  box-sizing: border-box;
  padding: 12px 15px;
  border: 1px rgb(11, 11, 11, .41) solid;
  border-radius: 4px;
}

input[type=text]{
  width: 100%;
  height: 30px;
  color: rgb(11, 11, 11, .61)
}

.fh-size--small{
  -webkit-box-direction: normal;
  margin: 0 !important;
  cursor: pointer !important;
  text-decoration: none !important;
  display: inline-block !important;
  text-align: center !important;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !important;
  padding: 0.2em 1em !important;
  line-height: 2 !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
  color: #fff !important;
  font-size: 16px !important;
  position: absolute;
  right: 1em;
}
input[type=color]{
  padding: 0px;
  margin-bottom: 15px;
  width: 44px;
    height: 23px;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
}

input[type=radio]{
  margin-right: 18px;
  color: rgb(11, 11, 11, .61)
}
form {
  margin-bottom: 18px;
  margin-right: 18px;
  border: 2px rgb(11, 11, 11, .41) solid;
  border-radius: 4px;
  box-shadow: 0 4px 19px -8px rgba(0,0,0,0.6);
}

form > div {
  padding: 20px;

}

#inputfields {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

@media only screen and (max-width: 900px) {
  #inputfields {
    flex-wrap: wrap;
  }

  #inputfields form {
    flex-basis: 98%;
  }

}

@media only screen and (min-width: 900px) {
  #inputfields {
    flex-wrap: wrap;
  }
  #inputfields form {
    flex-basis: 40%;
    max-width: 48%;
    flex-grow: 1;
    flex-shrink: 0;

  }
}

.fh-button-true-flat-blue {
  padding: 6px 22px !important;

}


#embed_outer {
border: 2px rgb(11, 11, 11, .41) solid;
min-height: 200px;
width: 100%;
border-radius: 4px;

}

.radio {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  gap: 12px;
}

.radio div {
  margin-right: 16px;
}

.radio div label{
  margin-right: 6px;
}

hr {
  margin: 15px 0px;
}
footer {
  height: 150px;

}
